In [ ]:
KEY = 'e789e5b762cf58b42e7f01f352bafb92'

In [8]:
import requests
import pandas as pd

In [1]:
# Конфигурация API
API_KEY = 'e789e5b762cf58b42e7f01f352bafb92'
BASE_URL = 'http://api.marketstack.com/v1/eod'
TICKERS = 'AAPL,MSFT,GOOGL'  # Пример тикеров

# Функция для получения данных из API
def fetch_stock_data():
    url = f"{BASE_URL}?access_key={API_KEY}&symbols={TICKERS}&limit=100"  # Ограничение на 100 записей
    response = requests.get(url)
    data = response.json()

    # Преобразование данных в DataFrame
    stock_data = pd.DataFrame(data['data'])
    return stock_data

In [9]:
fetch_stock_data()

,open,high,low,close,volume,adj_high,adj_low,adj_close,adj_open,adj_volume,split_factor,dividend,symbol,exchange,date
0,428.000,433.17,425.8000,431.95,17581800.0,433.1700,425.8001,431.95,428.000,17644080.0,1.0,0.0,MSFT,XNAS,2024-10-29T00:00:00+0000
1,233.195,234.32,232.3200,233.67,30768254.0,234.3250,232.3200,233.67,233.100,35417247.0,1.0,0.0,AAPL,XNAS,2024-10-29T00:00:00+0000
2,167.730,170.38,167.0896,169.68,42169025.0,170.3800,167.0896,169.68,167.730,42169025.0,1.0,0.0,GOOGL,XNAS,2024-10-29T00:00:00+0000
3,431.655,431.94,426.3400,426.59,14003953.0,431.9400,426.3000,426.59,431.655,14882444.0,1.0,0.0,MSFT,XNAS,2024-10-28T00:00:00+0000
4,233.315,234.73,232.5500,233.40,34733733.0,234.7300,232.5500,233.40,233.320,36087134.0,1.0,0.0,AAPL,XNAS,2024-10-28T00:00:00+0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,157.310,158.25,156.6000,158.06,18379775.0,158.2500,156.6000,158.06,157.310,18379775.0,1.0,0.0,GOOGL,XNAS,2024-09-16T00:00:00+0000
96,155.430,158.38,155.2100,157.46,29591150.0,158.3800,155.2100,157.46,155.430,29591152.0,1.0,0.0,GOOGL,XNAS,2024-09-13T00:00:00+0000
97,223.580,224.04,221.9100,222.50,36722900.0,224.0400,221.9100,222.50,223.580,36766619.0,1.0,0.0,AAPL,XNAS,2024-09-13T00:00:00+0000
98,425.830,431.83,425.4600,430.59,15861900.0,431.8300,425.4600,430.59,425.825,15874555.0,1.0,0.0,MSFT,XNAS,2024-09-13T00:00:00+0000
99,423.310,427.37,419.7500,427.00,17395700.0,427.3692,419.7500,427.00,423.310,17418759.0,1.0,0.0,MSFT,XNAS,2024-09-12T00:00:00+0000

In [5]:
!pip install requests

Requirement already satisfied: requests in c:\users\nikita\appdata\local\programs\python\python39\lib\site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\nikita\appdata\local\programs\python\python39\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\nikita\appdata\local\programs\python\python39\lib\site-packages (from requests) (2.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\nikita\appdata\local\programs\python\python39\lib\site-packages (from requests) (1.26.20)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nikita\appdata\local\programs\python\python39\lib\site-packages (from requests) (2024.2.2)